#container{
    width: 360px;
    margin: 0 auto;
    border: solid 1px gray;
    text-align: center;
}

.completed{
    color: red;
    text-decoration: line-through;
}
ul{
    margin-left: 20%;
    text-align:justify;
}

li {
    list-style-type: none;
}

.fade-out {
    transition: 2s;
    opacity: 0;
}
